@use "../util" as u;

.footer {
  width: 100%;
  height: u.rem(350);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--darkModerateCyan);

  .footer-nav {
    width: min(80%, u.rem(300));
    margin-left: auto;
    margin-right: auto;
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }

  .author-pic {
    border-radius: 50%;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: u.rem(16) auto;

  a {
    cursor: pointer;
  }
}
